# Environment variables for local development/testing
# Do not use these values in production.
# This file is provided to make local setup easier.

SECRET_KEY=django-insecure-a4amc7^348dqw3v3pq7m96ij32rdd7yass$$o&scjr(ap=ks6r(
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_USER=bouta
DB_PASSWORD=bouta
DB_HOST=postgres
DB_PORT=5432

DB_DEFAULT_NAME=user_defaultdb1
DB_CONTENT_NAME=contentdb1
DB_SERVICES_NAME=servicesdb1