SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_USER=bouta
DB_PASSWORD=bouta
DB_HOST=postgres
DB_PORT=5432

DB_DEFAULT_NAME=user_defaultdb1
DB_CONTENT_NAME=contentdb1
DB_SERVICES_NAME=servicesdb1