{% extends 'base.html' %}
{% load static %}

{% block content %}   
   
   <!-- BREADCRUMB AREA START -->
        <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="{% static 'img/bg/14.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__breadcrumb-inner">
                            <h1 class="page-title">ارتباط با ما</h1>
                            <div class="ltn__breadcrumb-list">
                                <ul>
                                    <li><a href="{% url 'home:index' %}"><span class="ltn__secondary-color"><i
                                                    class="fas fa-home"></i></span> خانه</a></li>
                                    <li>ارتباط با ما</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB AREA END -->

        <!-- CONTACT ADDRESS AREA START -->
        <div class="ltn__contact-address-area mb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="{% static 'img/icons/10.png' %}" alt="Icon Image">
                            </div>
                            <h3>آدرس ایمیل</h3>
                            <p>{{ contact_us.email1 }}<br>
                                {{ contact_us.email2 }}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="{% static 'img/icons/11.png' %}" alt="Icon Image">
                            </div>
                            <h3>شماره تلفن</h3>
                            <p>{{ contact_us.phone_number1 }}<br>{{ contact_us.phone_number2 }}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="{% static 'img/icons/12.png' %}" alt="Icon Image">
                            </div>
                            <h3>آدرس دفتر مرکزی</h3>
                            <p>{{ contact_us.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}