{% extends 'base.html' %}
{% load static %}
{% load jformat %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block json_ld %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "url": "https://bouta.ir/",
  "name": "بوتا - درخواست پرستار آنلاین",
  "description": "بوتا پلتفرم آنلاین درخواست پرستار برای مراقبت‌های بهداشتی در منزل، سریع، امن و مطمئن."
}
</script>
{% endblock %}

{% block content %}

        <!-- SLIDER AREA START (slider-3) -->
        <div class="ltn__slider-area ltn__slider-3---  section-bg-1--- mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="ltn__slide-active-2 slick-slide-arrow-1 slick-slide-dots-1 mb-30">
                            <!-- ltn__slide-item -->
                            <div class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image"
                                data-bs-bg="{% static 'img/slider/71.jpg' %}">
                                <div class="ltn__slide-item-inner">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                                                <div class="slide-item-info">
                                                    <div class="slide-item-info-inner ltn__slide-animation">
                                                        <h6 class="slide-sub-title ltn__secondary-color animated">تا 50%
                                                            تخفیف ثبت نام برای پرستاران  </h6>
                                                        <h1 class="slide-title  animated">همین حالا ثبت نام کن
                                                        </h1>
                                                        <div class="slide-brief animated d-none">
                                                            <p>
                                                                لورم ایپسوم متن ساختگی نامعتبر در راستای بهبود ظاهری
                                                                متون قدم بر میدارد.
                                                            </p>
                                                        </div>
                                                        <h5 class="color-orange  animated">برای آموزش ثبت نام پرستاران کلیک کنید</h5>
                                                        <div class="btn-wrapper  animated">
                                                            <a href="{{ index_info.first_image_url }}" class="theme-btn-1 btn btn-effect-1">بزن
                                                                بریم!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                                                <div class="slide-item-img">
                                                    <!-- <a href="shop.html"><img src="img/product/1.png" alt="Image"></a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ltn__slide-item -->
                            <div class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image"
                                data-bs-bg="{% static 'img/slider/62.jpg' %}">
                                <div class="ltn__slide-item-inner">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                                                <div class="slide-item-info">
                                                    <div class="slide-item-info-inner ltn__slide-animation">
                                                        <h4
                                                            class="slide-sub-title ltn__secondary-color animated text-uppercase">
                                                            تا 50% تخفیف ثبت نام برای پرستاران</h4>
                                                        <h1 class="slide-title  animated">همین حالا ثبت نام کن
                                                        </h1>
                                                        <div class="slide-brief animated d-none">
                                                            <p>
                                                                لورم ایپسوم متن ساختگی نامعتبر در راستای بهبود ظاهری
                                                                متون قدم بر میدارد.
                                                            </p>
                                                        </div>
                                                        <h5 class="color-orange  animated">برای آموزش ثبت نام پرستاران کلیک کنید</h5>
                                                        <div class="btn-wrapper  animated">
                                                            <a href="{{ index_info.first_image_url }}"
                                                                class="theme-btn-1 btn btn-effect-1 text-uppercase">
                                                                بزن بریم!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                                                <div class="slide-item-img">
                                                    <!-- <a href="shop.html"><img src="img/slider/62.jpg" alt="Image"></a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ltn__banner-item">
                            <div class="ltn__banner-img">
                                <a href="{{ index_info.image1_url }}"><img src="{% static 'img/banner/17.png' %}" alt="Banner Image"></a>
                            </div>
                        </div>
                        <div class="ltn__banner-item">
                            <div class="ltn__banner-img">
                                <a href="{% url 'home:history' %}"><img src="{% static 'img/banner/18newnew.png' %}" alt="Banner Image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDER AREA END -->

        <!-- CATEGORY AREA START -->
        <div class="ltn__category-area section-bg-1-- pt-50 pb-50">
            <div class="container">
                <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-box-tissue"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">پد میکروب</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-pump-medical"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">تجهیزات جانبی</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-bong"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">سرپوش پزشکی</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-syringe"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">همه لوازم</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-stethoscope"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">عمومی</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-hand-holding-medical"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">اورژانس</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="ltn__category-item ltn__category-item-6 text-center">
                            <div class="ltn__category-item-img">
                                <a href="#">
                                    <i class="fas fa-procedures"></i>
                                </a>
                            </div>
                            <div class="ltn__category-item-name">
                                <h6><a href="#">تجهیزات اتاق درمان</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CATEGORY AREA END -->

                <!-- ABOUT US AREA START -->

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 align-self-center">
                                <div class="about-us-img-wrap about-img-left">
                                    <img src="{% static 'img/others/9.png' %}" alt="About Us Image">
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="about-us-info-wrap">
                                    <div class="section-title-area ltn__section-title-2--- mb-30">
                                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us
                                        </h6>
                                        <h1 class="section-title">{{ index_info.about1_title }}</h1>
                                        {{ index_info.about1_description|safe }}
                                    </div>
                                    <div class="about-author-info-2 border-top mt-30 pt-20">
                                        <ul>
                                            <li>
                                                <div class="about-author-info-2-contact  d-flex">
                                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                                        <i class="icon-call"></i>
                                                    </div>
                                                    <div class="about-author-info-2-contact-info">
                                                        <small>پشتیبانی</small>
                                                        <h6 class="mb-0">{{ base_info.phone_number }}</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ABOUT US AREA END -->

                        <!-- FEATURE AREA START ( Feature - 3) -->
        <div class="ltn__feature-area section-bg-1 mt-90 pt-30 pb-30 mt--65---">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div
                            class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border--- section-bg-1">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/svg/8-trolley.svg' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>خدمت در محل</h4>
                                    <p>پرستاران فعال سامانه در تمام ۳۱ استان کشور</p>
                                </div>
                            </div>
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/svg/9-money.svg' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>ضمانت خدمت</h4>
                                    <p>ضمانت وجه پرداختی در قبال خدمات</p>
                                </div>
                            </div>
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/svg/10-credit-card.svg' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4> تسویه حساب ایمن</h4>
                                    <p>محافظت شده توسط بهترین درگاه های پرداخت</p>
                                </div>
                            </div>
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/svg/11-gift-card.svg' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>پیشنهاد و هدیه اینجا</h4>
                                    <p>تخفیف های شگفت انگیز در خدمات</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURE AREA END -->

            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h1 class="section-title">برخی از کادر مجرب ما</h1>
                        </div>
                    </div>
                </div>

                <div class="ltn__team-area pt-110--- pb-90">
                    <div class="container">
                        <div class="row justify-content-center">
                            
                            {% for nurse in star_nurses %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="ltn__team-item ltn__team-item-3---">
                                        <div class="team-img">
                                            <img src="{{ nurse.nurse.profile_picture.url }}" alt="Image" height="250">
                                        </div>
                                        <div class="team-info">
                                            <h4><a href="{% url 'nurse_users:nurse_detail' nurse.nurse.display_user_name %}">{{nurse.nurse.first_name}} {{ nurse.nurse.last_name }}</a></h4>
                                            <h6 class="ltn__secondary-color">{{nurse.nurse.education_level}}</h6>
                                            <div class="ltn__social-media">
                                                <ul>
                                                    {% if nurse.full_stars is not None %}
                                                        <span class="star-rating-rtl inline-star-rating">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= nurse.full_stars %}
                                                                    <i class="fas fa-star text-warning"></i>
                                                                {% elif nurse.has_half_star and forloop.counter == nurse.full_stars|add:"1" %}
                                                                    <i class="fas fa-star-half-alt text-warning"></i>
                                                                {% else %}
                                                                    <i class="far fa-star text-warning"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    {% else %}
                                                        <span>امتیاز ثبت شده ای یافت نشد</span>
                                                    {% endif %}</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


        <!-- COUNTDOWN AREA START -->
        <div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120" data-bs-bg="{% static 'img/bg/25.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="call-to-action-inner text-color-white--- text-center---">
                            <div class="section-title-area ltn__section-title-2--- text-center---">
                                <h1 class="section-title">{{ index_info.about2_title }}</h1>
                                {{ index_info.about2_description|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- <img src="img/banner/15.png" alt="#"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- COUNTDOWN AREA END -->


        <!-- BLOG AREA START (blog-3) -->
        <div class="ltn__blog-area pt-120 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">خبر ها و وبلاگ</h6>
                            <h1 class="section-title">داغ ترین مطالب وبلاگ</h1>
                        </div>
                    </div>
                </div>
                <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                    {% for art in star_articles %}
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="{% url 'articles:article_detail' art.slug %}"><img src="{{ art.thumbnail.url }}" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <i class="far fa-user"></i>توسط: Bouta
                                        </li>
                                        <li class="ltn__blog-tags">
                                           <i class="fas fa-tags"></i>{{ art.category.first }}
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="{% url 'articles:article_detail' art.slug %}">{{ art.title }}
                                        </a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>{{ art.jalali_datetime|jformat:"%H:%M - %Y/%m/%d" }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="{% url 'articles:article_detail' art.slug %}">اطلاعات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}