{% extends 'base.html' %}
{% load static %}
{% load jformat %}


{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% endblock %}

{% block content %} 
  
  <!-- BREADCRUMB AREA START -->
        <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="{% static 'img/bg/14.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__breadcrumb-inner">
                            <h1 class="page-title">حساب کاربری من</h1>
                            <div class="ltn__breadcrumb-list">
                                <ul>
                                    <li><a href="{% url 'home:index' %}"><span class="ltn__secondary-color"><i
                                                    class="fas fa-home"></i></span> خانه</a></li>
                                    <li>حساب کاربری</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB AREA END -->

        <!-- WISHLIST AREA START -->
        <div class="liton__wishlist-area pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- PRODUCT TAB AREA START -->
                        <div class="ltn__product-tab-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="ltn__tab-menu-list mb-50">
                                            <div class="nav">
                                                <a class="active show" data-bs-toggle="tab"
                                                    href="#liton_tab_1_1">داشبورد <i class="fas fa-home"></i></a>
                                                <a data-bs-toggle="tab" href="#liton_tab_1_2">جزییات حساب کاربری<i
                                                        class="fas fa-file-alt"></i></a>
                                                <a data-bs-toggle="tab" href="#liton_tab_1_3">خدمات فعال<i
                                                        class="fas fa-arrow-down"></i></a>
                                                <a data-bs-toggle="tab" href="#liton_tab_1_4">درخواست های ارسال شده<i
                                                        class="fas fa-map-marker-alt"></i></a>
                                                
                                                        <form action="{% url 'normal_users:logout' %}" method="post" style="display: inline-block; text-align: center;">
                                                            {% csrf_token %}
                                                            <button type="submit" style="
                                                                background: none;
                                                                border: none;
                                                                color: inherit;
                                                                font: inherit;
                                                                cursor: pointer;
                                                                padding: 0;
                                                                text-decoration: underline;
                                                                display: inline;
                                                                text-align: center;
                                                                padding-right: 20px;
                                                                padding-top: 10px;
                                                                padding-bottom: 10px;
                                                            ">
                                                                خروج <i class="fas fa-sign-out-alt"></i>
                                                            </button>
                                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active show" id="liton_tab_1_1">
                                                <div class="ltn__myaccount-tab-content-inner">
                                                    <p> سلام {{ user.user_name }} با شماره موبایل {{ user.phone_number }}</p>
                                                    <p>از داشبورد حساب خود می‌توانید درخواست های اخیر خود را مشاهده کنید،
                                                         صورت‌حساب خود را مدیریت کنید و
                                                        جزئیات حساب خود را ویرایش کنید.</p>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="liton_tab_1_2">
                                                <div class="ltn__myaccount-tab-content-inner">
                                                        <p>از این بخش میتوانید جزییات حساب کاربری خود را تغییر دهید</p>

                                                        <div class="ltn__form-box">
                                                            <form action="{% url 'normal_users:update_base' %}" method="post">
                                                                {% csrf_token %}  
                                                                <div class="row mb-50">
                                                                    <div class="col-md-6">
                                                                        <label>نام کاربری:</label>
                                                                        <input type="text" name="user_name" value="{{ user.user_name }}" required>
                                                                    </div>

                                                                    <br><br>
                                                                    <div class="col-md-6">
                                                                        <label>استان:</label><br>
                                                                        <div class="dropdown">
                                                                            <button class="dropdown-button">{{ user.get_province_display }}</button>
                                                                            <div class="dropdown-content">
                                                                                <input type="text" class="search-box" placeholder="جستجو..." value="{{ user.get_province_display }}">
                                                                                <ul class="dropdown-list">
                                                                                    <li data-value="Tehran">تهران</li>
                                                                                    <li data-value="Isfahan">اصفهان</li>
                                                                                    <li data-value="Fars">فارس</li>
                                                                                    <li data-value="Khorasan Razavi">خراسان رضوی</li>
                                                                                    <li data-value="Mazandaran">مازندران</li>
                                                                                    <li data-value="Kerman">کرمان</li>
                                                                                    <li data-value="East Azerbaijan">آذربایجان شرقی</li>
                                                                                    <li data-value="West Azerbaijan">آذربایجان غربی</li>
                                                                                    <li data-value="Kurdistan">کردستان</li>
                                                                                    <li data-value="Golestan">گلستان</li>
                                                                                    <li data-value="Alborz">البرز</li>
                                                                                    <li data-value="Semnan">سمنان</li>
                                                                                    <li data-value="Lorestan">لرستان</li>
                                                                                    <li data-value="Yazd">یزد</li>
                                                                                    <li data-value="Khuzestan">خوزستان</li>
                                                                                    <li data-value="Markazi">مرکزی</li>
                                                                                    <li data-value="Qazvin">قزوین</li>
                                                                                    <li data-value="Kohgiluyeh and Boyer-Ahmad">کهگیلویه و بویراحمد</li>
                                                                                    <li data-value="Hamedan">همدان</li>
                                                                                    <li data-value="Qom">قم</li>
                                                                                    <li data-value="Chaharmahal and Bakhtiari">چهارمحال و بختیاری</li>
                                                                                    <li data-value="Gilan">گیلان</li>
                                                                                    <li data-value="Ardabil">اردبیل</li>
                                                                                    <li data-value="Zanjan">زنجان</li>
                                                                                    <li data-value="Bushehr">بوشهر</li>
                                                                                    <li data-value="Sistan and Baluchestan">سیستان و بلوچستان</li>
                                                                                    <li data-value="Hormozgan">هرمزگان</li>
                                                                                    <li data-value="Ilam">ایلام</li>
                                                                                    <li data-value="South Khorasan">خراسان جنوبی</li>
                                                                                    <li data-value="North Khorasan">خراسان شمالی</li>
                                                                                </ul>
                                                                            </div>
                                                                            <input type="hidden" name="province" id="hidden-province" value="{{ user.province }}">
                                                                        </div><br><br>
                                                                    </div>
                                                                </div>
                                                                <div class="btn-wrapper">
                                                                    <button type="submit"
                                                                        class="btn theme-btn-1 btn-effect-1 text-uppercase">ذخیره
                                                                        تغییرات</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="liton_tab_1_3">
                                                <div class="ltn__myaccount-tab-content-inner">
                                                    <p>از طریق این بخش میتوانید جزییات خدمات فعال خود را بررسی و پرداخت کنید. <a style="color: green;" href="{% url 'normal_users:service_history' %}">برای مشاهده تاریخچه خدمات کلیک کنید</a></p>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>خدمات</th>
                                                                    <th>تاریخ</th>
                                                                    <th>وضعیت</th>
                                                                    <th>وضعیت پرداخت</th>
                                                                </tr>
                                                            </thead>
                                                            
                                                            <tbody>
                                                                {% for active_service in active_services %}
                                                                <tr>
                                                                    <td><a href="{% url 'normal_users:service_detail' active_service.service_request_id %}">{{ active_service.skill_title }}</a></td>
                                                                    <td>{{ active_service.j_created_at | jformat:"%H:%M:%S - %Y/%m/%d" }}</td>
                                                                    <td>{{ active_service.get_status_display }}</td>
                                                                    <td>{% if active_service.payment.payment_status %}✅{% else %}❌{% endif %}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="liton_tab_1_4">
                                                <div class="ltn__myaccount-tab-content-inner">
                                                    <p>از طریق این بخش میتوانید جزییات  درخواست های ارسال شده خود را بررسی کنید. <a style="color: green;" href="{% url 'normal_users:service_history' %}">برای مشاهده تاریخچه خدمات کلیک کنید</a></p>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>خدمات</th>
                                                                    <th>تاریخ</th>
                                                                    <th>وضعیت</th>
                                                                    <th>وضعیت پرداخت</th>
                                                                </tr>
                                                            </thead>
                                                            
                                                            <tbody>
                                                                {% for pending_service in pending_services %}
                                                                <tr>
                                                                    <td><a href="{% url 'normal_users:service_detail' pending_service.service_request_id %}">{{ pending_service.skill_title }}</a></td>
                                                                    <td>{{ pending_service.j_created_at | jformat:"%H:%M:%S - %Y/%m/%d" }}</td>
                                                                    <td>{{ pending_service.get_status_display }}</td>
                                                                    <td>{% if pending_service.payment.payment_status %}✅{% else %}❌{% endif %}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PRODUCT TAB AREA END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- WISHLIST AREA START -->

{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/custom.js' %}"></script>

{% endblock %}